</td>
</tr>
<tr style="border-collapse: collapse">
<td style="padding-top: 50px;">&nbsp;</td>
</tr>
<tr style="border-collapse: collapse"> <td valign="top" align="center" style="padding: 0; margin: 0; width: 540px;padding-right: 8px; color: gray; border-top-width: 1px; border-top-style: solid; font-size: 10px;">
Confidentiality Notice: This e-mail (and any attachments) may contain confidential information that is protected by legal privilege. The information is intended only for the use of the intended recipient. If you are not the intended recipient, you are hereby notified that any disclosure, copying, distribution or use of this information is prohibited. Any unauthorized interception is illegal under the law. If you have received this e-mail in error, or if you are not the intended recipient, please promptly notify the sender by reply e-mail, delete the e-mail and destroy any copies.
</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
</table>
</div>
</body>

</html>